main {
display: flex;
background-color: #2f0025eb;
}

div#fundo1 {
width: 20%;
background-image: url(../../../img/fundo1.png);
background-repeat: no-repeat;
background-size: cover;
}

div#fundo2 {
width: 20%;
background-image: url(../../../img/fundo2.png);
background-repeat: no-repeat;
background-size: cover;
}

div#conteudo {
color: black;
width: 60%;
background-image: url("../../../img/fundob1.png");
background-repeat: no-repeat;
background-size: cover;
padding: 20px;
}

h1 {
color: black;
text-align: center;
padding-bottom: 10px;
}

p {
color: black;
width: 80%;
margin: 10px auto;
text-align: justify;
}

section#abertura {
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0);
position: fixed;
color: rgba(255, 255, 255, 0);
animation-name: aberturaTeste;
animation-duration: 10s;
animation-direction: alternate;
display: flex;
justify-content: center;
align-items: center;
font-size: 5em;
z-index: 1;
}

@keyframes aberturaTeste {
0% {
color: #ffffff00;
background-image: url("../../../img/diade.jpg");
background-size: cover;
opacity: 100%;
}

50% {
color: white;
background-image: url("../../../img/diade.jpg");
background-size: cover;
opacity: 100%;
}

100% {
color: rgba(255, 255, 255, 0);
background-image: url("../../../img/diade.jpg");
background-size: cover;
opacity: 0%;
}
}
    